<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <!-- If no user is logged in then display login form with login button -->
    <% if(!username) { %>
    <!-- Add form that POSTs to "/login" with name attribute "username" -->
    <!-- Add form that POSTs to "/logout" with name attribute "username" -->
    <form class="form-inline" action="/login" method="POST">
      <div class="form-group mb-2">
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="Username"
          style="width: 300px; margin: 1em"
        />
        <!-- Login button -->
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
      <!-- Button that links to registration page -->
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/register">Register</a>
      </div>
    </form>
    <!-- If the user is logged in then display form that shows username and logout button -->
    <% } else { %>
    <form class="form-inline" action="/logout" method="POST">
      <div class="form-group mb-2">
        <!-- Add label to form to show logged in as username/cookie -->
        <label>Logged in as: <%= username %>@gmail.com</label>
        <button type="submit" class="btn btn-primary">Logout</button>
      </div>
    </form>
    <% } %>
  </nav>
</header>